<!-- views/AddProduct.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="static/add.css">
</head>
<body>
    <div class="nav-container">
        <div class="navbar">
            <a href="/index" class="nav-buttons"><button>Back</button></a>
            <span class="nav-title">Adding Product</span>
        </div>
    </div>
    <div class="container">
        <div>
            <!-- View Item -->
             <table>
                <tr>
                    <th>S No</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                </tr>
                <% array.forEach(element => { %>
                <tr>
                    <td><%= element.id %></td>
                    <td><%= element.code %></td>
                    <td><%= element.name %></td>
                </tr>
                <% }) %>


                
             </table>

            <!-- Add Item -->
             <div>
                <form action="/addproduct" method="POST">
                <label for="productName">Product Name:</label>
                <input type="text" id="name" name="name" required><br>
                
                <label for="productCode">Product Code:</label>
                <input type="text" id="code" name="code" required><br>
                
                <button type="submit">Add Product</button>
                </form>
             </div>
            
        </div>
        
    </div>
</body>
</html>
