<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div class="div-css">
        <div class="horizontal-layout-css left-login">
            LOGIN
        </div>
        <div class="separator"></div>
        <div class="horizontal-layout-css right-login">
            <label class="login-fonts">Login Credentials</label><br>
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="textbox" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="textbox" required>
                <button>Login</button>
                <span>Don't have an account? <a href="register.html">Register</a></span>
            </div>
        </div>
    </div>
</body>
</html>
