<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="div-css">
        <div class="horizontal-layout-css left-login">
            LOGIN
        </div>
        <div class="separator"></div>
        <div class="horizontal-layout-css right-login">
            <label class="login-fonts">Login Credentials</label><br>
            <form action="/login" method="post" class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="textbox" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="textbox" required>
                <button type="submit">Login</button>
                <span>Don't have an account? <a href="/register">Register</a></span>
            </form>
        </div>
    </div>
</body>
</html>