<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Receipt</title>
  <style>
    body {
      font-family: monospace;
      width: 58mm;
      margin: 0 auto;
      padding: 10px;
    }
    .center { text-align: center; }
    .right { text-align: right; }
    .bold { font-weight: bold; }
    hr { border: none; border-top: 1px dashed black; margin: 5px 0; }
    table { width: 100%; border-collapse: collapse; font-size: 12px; }
    td { padding: 2px 0; }
    .small { font-size: 11px; }
  </style>
</head>
<body>

  <div class="center bold">
    NEW STYLE READYMADE<br>
    VULLI VEEDHI, VIZIANAGARAM<br>
    GSTIN: 37BPQPD1639J1ZL<br>
    PH: 9440771550<br>
    <hr>
    TAX INVOICE
  </div>

  <table>
    <tr>
      <td>BILL NO:</td><td>14900</td>
      <td class="right">DATE: 01-Jan-2013</td>
    </tr>
  </table>

  <hr>

  <table>
    <tr class="bold">
      <td>ITEMNAME</td>
      <td class="right">QTY</td>
      <td class="right">RATE</td>
      <td class="right">AMOUNT</td>
    </tr>
    <tr>
      <td>MIX OFFER</td>
      <td class="right">1</td>
      <td class="right">1125.00</td>
      <td class="right">1125.00</td>
    </tr>
    <tr><td colspan="4">ITEM DISC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0.00</td></tr>
    <tr>
      <td>SHIRT</td>
      <td class="right">1</td>
      <td class="right">335.00</td>
      <td class="right">335.00</td>
    </tr>
    <tr><td colspan="4">ITEM DISC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 33.50</td></tr>
  </table>

  <hr>

  <table>
    <tr><td colspan="2">TOTAL:</td><td colspan="2" class="right">2</td></tr>
    <tr><td colspan="2">BILL TOTAL:</td><td colspan="2" class="right">1460.00</td></tr>
    <tr><td colspan="2">DISCOUNT:</td><td colspan="2" class="right">34.00</td></tr>
    <tr><td colspan="2">CARD CHARGES:</td><td colspan="2" class="right">0.00</td></tr>
    <tr class="bold"><td colspan="2">NET AMOUNT:</td><td colspan="2" class="right">1426.00</td></tr>
  </table>

  <hr>

  <div class="bold small">GST Summary</div>
  <table>
    <tr><td>Taxable Value</td><td class="right">CGST 2.5%</td><td class="right">SGST 2.5%</td></tr>
    <tr><td>1358.10</td><td class="right">33.95</td><td class="right">33.95</td></tr>
  </table>

  <hr>

  <table>
    <tr><td>TENDER AMT:</td><td class="right">0.00</td></tr>
    <tr><td>CHANGE:</td><td class="right">-1426.00</td></tr>
  </table>

  <div class="center small">
    THANK YOU<br>
    PLEASE VISIT AGAIN
  </div>

</body>
</html>