<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="static/register.css">
</head>
<body>
    <div class="div-css">
        <div class="horizontal-layout-css left-login">
            REGISTER
        </div>
        <div class="separator"></div>
        <div class="horizontal-layout-css right-login">
            <label class="login-fonts">Register</label><br>
            <form method="post">
                <div class="input-group">
                    <label for="username">Username: </label>
                    <input type="text" id="username" name="username" class="textbox" required>
                    <label for="email">Email: </label>
                    <input type="email" id="email" name="email" class="textbox" placeholder="@gmail.com/.edu.in" required>
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" class="textbox" required>
                    <button type="submit">Register</button>
                    <span>Already have an account? <a href="Login.html">Login</a></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
